{% extends "account.html" %}

{% block content %}

<form class="form" action="{% url 'registration' %}" method="post">
    <h1>Регистрация</h1>
    <p>
        <label for="id_username">Имя :</label>
        <input type="text" name="username" maxlength="150" required="" aria-describedby="id_username_helptext" id="id_username">             
    </p>


    <p>
        <label for="id_first_name">First name</label>
        <input type="text" name="first_name" maxlength="150" id="id_first_name">             
    </p>


    <p>
        <label for="id_email">Email address:</label>
        <input type="email" name="email" maxlength="254" id="id_email">                
    </p>


    <p>
        <label for="id_password">Password:</label>
        <input type="password" name="password" required="" id="id_password">
    </p>


    <p>
        <label for="id_password2">Repeat password:</label>
        <input type="password" name="password2" required="" id="id_password2">
    </p>

    {% csrf_token %}
    <div class="div-submit">
        <input class="submit" type="submit" value="Зарегистрироваться">
    </div>
</form>

{% endblock content %}