{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <nav class="nav">
        <ul class="blue-li">
            <li>
                <a href="{% url 'home' %}">Главная</a>
            </li>
            |
            <li>
                <a href="{% url 'my_profile' %}">Мой профиль</a>
            </li>
            |
            <li>
                <a href="">??Сообщения??</a>
            </li>
            |
            <li>
                <a href="">?????</a>
            </li>
        </ul>


        <ul class="log-reg">
            {% if not request.user.is_authenticated %}
            <li>
                <a href="{% url 'login' %}">Войти</a>
            </li>
            <p>|</p>
            <li>
                <a href="{% url 'registration' %}">Зарегистрироваться</a>
            </li>
            {% endif %}
            
        {% if request.user.is_authenticated %}
        <li>
            {{ request.user.email }}
        </li>
        <li>
            <a href="{% url 'logout' %}">Выйти</a> 
        </li>
  
        {% endif %}

        </ul>
    </nav>

    <div class="position-content">
        <div class="content-block">
            {% block content %}
            {% endblock %}
        </div>
    </div>
  
</body>
</html>
