<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/main/css/base.css">
    <title>{{title}}</title>
</head>
<body>
    <nav class="nav">
        <ul class="blue-li">
            <li>
                <a href="">Мой профиль</a>
            </li>
            |
            <li>
                <a href="">Мой профиль</a>
            </li>
            |
            <li>
                <a href="">Мой профиль</a>
            </li>
            |
            <li>
                <a href="">Мой профиль</a>
            </li>
        </ul>

        <ul class="log-reg">
            <li>
                <a href="">Войти</a>
            </li>
            <p>|</p>
            <li>
                <a href="">Зарегистрироваться</a>
            </li>
        </ul>
    </nav>

    <div class="position-content">
        <div class="content-block">
                        
        </div>
    </div>
  
</body>
</html>
