{% extends "account.html" %}

{% block content %}

{% if request.user.is_authenticated %}
{{ request.user }}
{% endif %}


<form class="form" action="{% url 'login' %}" method="post">
    <h1>Вход</h1>
    
    <div class="form">    
        <p>
            {{ form.email.label_tag }} 
            {{ form.email }}
        </p>
        <p>
            {{ form.password.label_tag }} 
            {{ form.password }}
        </p>
        <div>
            {% if form.errors %}
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <p>
                        {{field}}
                        {{error}}
                    </p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
            {% endif %}
        </div>
    </div>
        {% csrf_token %}
    <div class="div-submit">
        <input class="submit" type="submit" value="Войти">
    </div>
    <div class="div-submit">
        <a href="{% url 'registration' %}">Зарегистрироваться</a>
    </div>




<h3>СДЕЛАЙ КАПЧУ</h3>

</form>
{% endblock content %}


СМОТРИ 
https://www.youtube.com/watch?v=nfYlY5jEYPo 
